{% extends 'base.html' %}
{% block b1 %}
    <div class="row">
        <div class="col-sm-4">
            <h4 class="text-center alert alert-danger">NEW COURSE</h4>
            <form action="" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="ADD" class="btn btn-success">
            </form>
        </div>
        <div class="col-sm-8">
            <h4 class="text-center alert alert-danger">LIST OF COURSES</h4>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">COURSE</th>
                        <th scope="col">DURATION</th>
                        <th scope="col">FEE</th>
                        <th scope="col">ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    {% for course in courses %}
                    <tr>
                        <th scope="row">{{course.id}}</th>
                        <td>{{course.cname}}</td>
                        <td>{{course.dur}}</td>
                        <td>{{course.fee}}</td>
                        <td>
                            <a class="btn btn-warning btn-sm" href="{% url 'app1:update' course.id %}">EDIT</a>
                            <!-- <a class="btn btn-danger btn-sm" href="{% url 'app1:delete' course.id %}">DELETE</a> -->
                            <form action="{% url 'app1:delete' course.id %}" method="post" class="d-inline">
                                {% csrf_token %}
                                <input type="submit" value="DELETE" class="btn btn-danger btn-sm">
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock b1 %}